pytest
pytest-mock
pytest-cov

# Linters and security
ruff
black
mypy
bandit
pip-audit
pre-commit
argcomplete
types-pytz
types-requests

# Include runtime deps for test environment
-r requirements.txt
